<style>
    body{
      background-color: #white;
    }
    html { 
      background-color: #white;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }
    #wrapper{
      width:960px;
      margin: 0 auto;
      padding-top: 5%;
    }
    #articles{
      height:700px;
      overflow: auto;
    }
    #notes{     
    }
    textarea, input{
      display:block;
      width:100%;
      background-color: #ffe5cc;
    }
    input{
      height:36px;
      font-size: 24px;
    }
    textarea{
      height:200px;
      font-size: 18px;
    }
    p.title {
      cursor: pointer;      
    }
    p.title:hover {
      text-decoration: underline;
    }
  </style>